body{
    background-color: rgb(199, 130, 231);
}
tr:hover{
    background-color: aqua;
}
/* estilo de id */
#nombre{
    border: 1px solid red;
    border-radius: 3px;
    background-color: rgb(152, 230, 230) ;
}
tr:hover{
    background-color: rgb(60, 224, 224);
    border-radius: 3px;
}